* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b6f6f1;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, rgb(13, 236, 62), rgb(245, 212, 22), rgb(241, 102, 47));
}
.card-title{
    font-size: 38px;
    font-weight: bolder;
    margin-top: 10px;
    margin-right: 30px;
    color: darkviolet;
}
.ms-md-auto{
    font-size: 38px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
}

.container-fluid .p-5{
    display: flex;
    justify-content: space-around;
}


footer {
    background-color: rgb(228, 187, 8) !important;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: black;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto; /* Centra el pie de página horizontalmente */
}




